@use "@styles/_vars/scoped" as *;

.accordeon {
  padding: 32px;

  &--width-small {
    width: 50%;
  }

   &--width-medium {
    width: 75%;
  }

  &--width-large {
    width: 100%;
  }

}

.accordeon-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

    &--outlined {
      outline: 1px solid var(--primary-color);
      border-radius: var(--border-radius-md);
    }

    &--unwrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      border-bottom:  1px solid var(--primary-color);

      .accordeon-opener {
        display: none;
      }

    }
}

.accordeon-header {
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.accordeon-opener {
  min-width: 32px;
  min-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    fill: var(--primary-color);
  }
}

