mixin accordeon(data)
  - console.log(data)
  ul.accordeon.--unwrap(class=data.modifiers ? data.modifiers : null)
    each item in data.items
      li.accordeon-item
        .accordeon-header(tabindex='0')
          p!=item.title
          .accordeon-opener(role='button' aria-label='Посмотреть ответ')
            svg(width='20' height='20' aria-hidden='true')
              use(xlink:href='./assets/sprite.svg#cross')
        .accordeon-body
          .content-block
            p!=item.text

