h1,
h2,
h3,
h4,
h5,
h6,
.main-title,
.base-title,
.base-subtitle {
	margin: 0;
	margin-bottom: 0.75em;
}

.main-title,
.base-title,
.base-subtitle {
	display: block;
	font-weight: 700;
}

.base-subtitle {
	font-size: clamp(18px, 3.2vw, 24px);
}

.base-text {
	font-size: clamp(14px, 2.2vw, 16px);
}

h1 {
	font-size: clamp(24px, 6vw, 56px); // test
}

.main-title {
	font-size: clamp(24px, 6vw, 56px); // test
}

h2,
.base-title {
	font-size: clamp(24px, 6vw, 48px);
}

h3 {
	font-size: 18px;
}

h4,
h5,
h6 {
	font-size: 16px;
}

p {
	margin: 0;
	margin-bottom: 0.5em;

	a {
		color: var(--primary-color);
		text-decoration: underline;
	}
}
