mixin infinity-row-slider(slides)
  .swiper.infinity-row-slider
    .swiper-wrapper
      each slide in slides
        .swiper-slide
          img(src=`./assets/img/${slide.img}` alt="Партнер" width="200" height="120")
        
