@forward "@styles/_extends/flexbox.scss";
@forward "@styles/_extends/effects.scss";
@forward "@styles/_extends/resets.scss";
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.staff-preview {
	container: staff-preview / inline-size;

	// view modifiers start
	&.--grid-type-1 {
		.staff-preview__grid {
			display: grid;
			grid-template-columns: 1fr;
			gap: var(--gap-lg);

			@include container-up("staff-preview", $tablet-lg-width) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
	&.--grid-type-2 {
		.staff-preview__grid {
			display: grid;
			grid-template-columns: 1fr;
			gap: var(--gap-lg);

			@include container-up("staff-preview", $tablet-lg-width) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}

	&.--grid-type-3 {
		&:has(.main-slider) .swiper-container {
			position: relative;
			// !!
			//  только если есть пагинация
			padding: 0 60px;
			// только если не режим авто для слайдера
			max-width: 440px;
			margin: 0 auto;
			@include media-up(680px) {
				max-width: 780px;
			}

			@include media-up(1024px) {
				max-width: 1120px;
			}
			// !!

			// !!кнопки вынести отдельно глобально, чтобы совпадали с теми что в верзнем баннере
			.swiper-button-prev,
			.swiper-button-next {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			.swiper-button-prev {
				left: 0px;
				transform: translateY(-50%) rotate(180deg);
			}

			.swiper-button-next {
				right: 0;
			}
			// !!
		}

		.main-slider {
			.swiper-slide {
				width: 100%;
				max-width: 320px;
			}
		}

		.staff-preview-card {
			max-width: 320px;
			align-items: center;
			text-align: center;
			padding: 24px;
		}
	}
	// view modifiers end
}

.staff-preview-card {
	@extend %flex-column;
	gap: clamp(16px, 3vw, 24px);

	&-container {
		container: staff-preview-card / inline-size;
	}

	@include container-up("staff-preview-card", $mobile-width) {
		flex-direction: row;
	}

	@include container-down("staff-preview-card", $mobile-width) {
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&__picture {
		width: 100%;
		max-width: 240px;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
			aspect-ratio: 1/1;

			@include container-down("staff-preview-card", $mobile-width) {
				max-width: 240px;
			}
		}
	}

	&__content {
		@extend %flex-column;
		padding: 12px 0;

		&-title,
		&-description {
			display: inline-block;
			margin: 0;
		}

		&-title {
			font-weight: 600;
			margin-bottom: 2px;
		}

		&-description {
			font-size: 14px;
			margin-bottom: 16px;
		}
	}

	// card modifiers start
	&.--rounded-picture {
		.staff-preview-card__picture img {
			border-radius: var(--current-border-radius);
		}
	}

	&.--circle-view-picture {
		.staff-preview-card__picture img {
			border-radius: 50%;
		}
	}

	&.--align-center {
		align-items: center;
	}

	&.--content-align-center {
		@include container-up("staff-preview-card", $mobile-width) {
			.staff-preview-card__content {
				text-align: center;
			}
		}
	}
	// card modifiers end
}
