.swiper-container
  .swiper.main-slider
    .swiper-wrapper
      each index in [1,2,1,2,1,2]
        .swiper-slide
          .staff-preview-card.--content-align-center.--circle-view-picture.--align-center
            .staff-preview-card__picture 
              img(src=`./assets/img/staff-preview-mock${index}.png` alt="staff-preview-card" width="400" height="300")
            .staff-preview-card__content
              span.base-text.staff-preview-card__content-title Константин Константинов
              small.staff-preview-card__content-description инженер

              span.base-text.staff-preview-card__content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.

  button(type="button" aria-label="Назад").swiper-button-prev
    svg(width='32' height='32' role='img' aria-hidden='true' focusable='false')
      use(xlink:href='./assets/sprite.svg#chevron')
  button(type="button" aria-label="Вперед").swiper-button-next
    svg(width='32' height='32' role='img' aria-hidden='true' focusable='false')
      use(xlink:href='./assets/sprite.svg#chevron')