// fonts
:root {
	--montserrat: "Montserrat", sans-serif;
	--roboto: "Roboto", sans-serif;
	--inter: "Inter", sans-serif;
	--manrope: "Manrope", sans-serif;
}

// colors
:root {
	--white-color: #ffffff;
	--black-color: #000000;
	--primary-color: #d8a47a;
	--secondary-color: #f3a86a;
	--success-color: #59a952;
	--warning-color: #fffc30;
	--danger-color: #da1c1f;
	--dark-color: #222222;
	--light-color: #e6e6e6;
	--muted-color: #c8c8c8;

	--gray-500-color: #555555;
}

// containers
:root {
	--content-width: 1680px;
	--container-offset: clamp(10px, 2vw, 60px);
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));
	--content-fluid-width: 1920px;
	--container-fluid-offset: 0;
	--container-fluid-width: calc(
		var(--content-fluid-width) + (var(--container-offset) * 2)
	);
}

// transitions
:root {
	--main-transition: 0.15s linear;
}

// site-base-options
:root {
	--site-base-font-family: var(--montserrat);
	--site-base-font-weight: 400;
	--site-base-font-size: 16px;
	--site-base-line-height: 1.2;
	--site-base-text-color: var(--black-color);
	--site-bg-color: var(--white-color);

	--section-title-color: var(--black-color);
	--title-underline-color: var(--primary-color);
}

// scrollbar
:root {
	--scrollbar-color: var(--site-bg-color);
	--scrollbar-width: 12px;
	--scrollbar-border-radius: 0;
	--scrollbar-thumb-color: var(--primary-color);
	--scrollbar-thumb-border-radius: 0;
}

// offsets
:root {
	--gap-sm: clamp(16px, 2.2vw, 32px);
	--gap-lg: calc(clamp(16px, 2.2vw, 32px) * 2);
}

// border-radius
:root {
	--border-radius-disabled: 0;
	--border-radius-xs: 5px;
	--border-radius-sm: 10px;
	--border-radius-md: 15px;
	--border-radius-lg: 30px;

	--current-border-radius: var(--border-radius-disabled);
}
