:root {
	--cookie-link-color: #ffffff;
	--cookie-text-color: #ffffff;
	--cookie-bg-color: rgba(0, 0, 0, 0.8);
	--cookie-offset-size: 24px 0;
	--cookie-btn-offset-size: 8px 32px;
}

#cookie-consent-banner {
	position: fixed;
	left: 0;
	bottom: 0;

	width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	background-color: var(--cookie-bg-color);
	color: var(--cookie-text-color);
	padding: var(--cookie-offset-size);
	-webkit-box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
		rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
	box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
		rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
	z-index: 1000;
}

#cookie-consent-banner .container {
	display: -ms-grid;

	display: grid;
	-ms-grid-columns: auto 32px 120px;
	grid-template-columns: auto 120px;
	gap: 16px 32px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (max-width: 534px) {
	#cookie-consent-banner .container {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
}

#cookie-consent-banner .container * {
	margin: 0;
}

#cookie-consent-banner button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: var(--cookie-btn-offset-size);
}

#cookie-consent-banner a {
	color: var(--cookie-link-color);
	text-decoration: underline;
}
