@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_vars/scoped" as *;

.feature-card {
	@extend %flex-column;
	height: 100%;
	padding: 32px;
	color: var(--white-dark);
	border-radius: var(--base-border-radius);
	container: feature-card / inline-size;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	.base-subtitle {
		margin: 0;
	}

	&__wrapper {
		@extend %flex-column;
		gap: 24px;

		img {
			width: fit-content;
			max-width: 80%;
			height: auto;
			max-height: 36px;
			object-fit: contain;
		}
	}

	&.--content-position-bottom {
		.feature-card__wrapper {
			margin-top: auto;
		}
	}

	&.--content-position-center {
		.feature-card__wrapper {
			margin: auto 0;
		}
	}

	&.--content-align-center {
		text-align: center;
		.feature-card__wrapper {
			align-items: center;
		}
	}

	&.--content-align-right {
		text-align: right;

		.feature-card__wrapper {
			align-items: flex-end;
		}
	}

	&.--content-color-light {
		color: var(--white-color);
	}

	&.--сolorfilled {
		background-color: var(--primary-color);
	}
}
