@forward "@styles/_extends/flexbox.scss";
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_vars/scoped" as *;

.feature-card {
	@extend %flex-column;
	height: 100%;
	padding: 32px;
	color: var(--white-color);
	border-radius: var(--base-border-radius);
	container: feature-card / inline-size;

	&:not(.--simple) {
		background-size: cover;
		background-position: center;
		background-color: var(--primary-color);
	}

	&.--content-bottom {
		.feature-card__wrapper {
			margin-top: auto;
		}
	}

	&.--simple {
		align-items: center;
		gap: 16px;
		padding: 16px;
		text-align: center;

		svg {
			fill: var(--primary-color);
			margin-bottom: 10px;
		}

		color: var(--dark-color);
	}
}
