.stages
  ol.stages__list.--iconic-items.--iconic-items-outside.--bordered-items.--items-content-center
    li.stages__list-item
      img(src="./assets/img/hanger.svg" width="36" height="35" alt="")
      span.base-subtitle Первый этап
      span.base-text Создание реалистичных 3D моделей вашего будущего интерьера.

    li.stages__list-item
      img(src="./assets/img/hanger.svg" width="36" height="35" alt="")
      span.base-subtitle Второй этап
      span.base-text Создание реалистичных 3D моделей вашего будущего интерьера.

    li.stages__list-item
      img(src="./assets/img/hanger.svg" width="36" height="35" alt="")
      span.base-subtitle Третий этап
      span.base-text Создание реалистичных 3D моделей вашего будущего интерьера.

    li.stages__list-item
      img(src="./assets/img/hanger.svg" width="36" height="35" alt="")
      span.base-subtitle Четвертый этап
      span.base-text Создание реалистичных 3D моделей вашего будущего интерьера.



