extends ../../layouts/base-section/template

block variables
  - sectionClass = 'stages --grid-type-2'
  - sectionTitle = 'Этапы работы'
  - sectionText  = 'Мы создаем уникальные интерьеры, учитывая все ваши пожелания и особенности помещения. Наш профессионализм и внимание к деталям гарантируют, что ваш дом станет настоящим произведением искусства.'

block content
  include ./content
