section.seo-block(style = "background-image: url('../assets/img/top-section-bg@1x.jpg'); background-color: var(--lighter-color);")
	.container
		.seo-block__content
			h2 Заголовок
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quisquam nam excepturi quibusdam officia, error unde est consectetur minus, sint exercitationem provident delectus expedita fuga similique dolor esse tempore ad!
