@use "@styles/_vars/scoped" as *;

$grid-gap: var(--gap-lg);

* {
	outline: 1px solid red
}

.faq__container {

	&--two-columns {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

.faq__header {
	position: relative;
	padding: 32px;
}

.faq__header::after {
	position: absolute;
	content: "";
	width: 160px;
	height: 4px;
	background-color: var(--primary-color);
}
