@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.faq {
  container: faq-container / inline-size;

  @include container-up("faq-container", $laptop-lg-width) {

		&.--align-row .container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
      gap: 64px;

      .base-section__header {
      position: sticky;
      top: 0;
      align-self: start;
    }

    .base-section__header::after {
      left:0;
    }
		}
	}
}

.faq .base-section__header {
  position: relative;
  padding-bottom: 32px;
}

.faq .base-section__header::after {
  position: absolute;
  content: "";
  width: 160px;
  height: 4px;
  bottom: 0;
  background-color: var(--primary-color);
}

