@use "@styles/_mixins/container-queries" as *;
@use "@styles/_vars/scoped" as *;

.faq {
  container: faq-container / inline-size;

  @include container-up("faq-container", $laptop-lg-width) {

		&.--align-row .container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
      gap: 64px;

      .base-section__header {
      position: sticky;
      top: 0;
      align-self: start;
      }
		}
	}
}




