@forward "@styles/_extends/flexbox.scss";
// @forward '@styles/_extends/effects.scss';
// @forward '@styles/_extends/resets.scss';
@use "@styles/_mixins/container-queries" as *;
@use "@styles/_mixins/media-queries" as *;
@use "@styles/_vars/scoped" as *;
@use "@styles/_mixins/block-overlay" as *;

$top-banner-offset-vertical: clamp(32px, 4vw, 84px);
$top-banner-offset-horizontal: clamp(16px, 4vw, 64px);

.top-banner-slider {
	@extend %flex-column;
	height: 100%;
	container: top-banner-slider / inline-size;

	// глобальные модификаторы для всех слайдов начало
	&.--full-height {
		.top-banner {
			min-height: 90svh;
		}
	}

	&.--height-30 {
		.top-banner {
			min-height: 30svh;
		}
	}

	&.--height-50 {
		.top-banner {
			min-height: 50svh;
		}
	}

	&.--height-70 {
		.top-banner {
			min-height: 70svh;
		}
	}
	// глобальные модификаторы для всех слайдов конец

	// пагинация слайдера
	.swiper-pagination {
		padding: 20px 0;

		&-bullet {
			width: 8px;
			height: 8px;
			background-color: var(--primary-color);
		}

		&.--pagination-bullets-square,
		&.--pagination-bullets-rectangle,
		&.--pagination-bullets-rectangle-wide:not(
				.swiper-pagination-bullets-dynamic
			) {
			.swiper-pagination-bullet {
				border-radius: 0;
			}
		}
	}

	.swiper-pagination:not(
			.swiper-pagination-bullets-dynamic
		).--pagination-bullets-rectangle-wide {
		display: flex;
		width: 100%;
		padding: 5px $top-banner-offset-horizontal;

		.swiper-pagination-bullet {
			flex-grow: 1;
		}
	}

	.swiper-pagination.--pagination-bullets-rectangle {
		.swiper-pagination-bullet {
			width: 16px;
		}
	}

	.swiper-pagination.--pagination-bullets-size-md {
		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;
		}
	}

	.swiper-pagination.--pagination-bullets-size-lg {
		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
		}
	}

	.swiper-pagination.--pagination-bullets-rectangle {
		&.--pagination-bullets-size-md {
			.swiper-pagination-bullet {
				width: 20px;
				height: 10px;
			}
		}

		&.--pagination-bullets-size-lg {
			.swiper-pagination-bullet {
				width: 24px;
				height: 12px;
			}
		}
	}

	.swiper-slide {
		height: auto;
	}

	&:has(.swiper-pagination) {
		.top-banner {
			padding-bottom: 60px;
		}
	}
}

.top-banner {
	@extend %flex-column;
	padding: $top-banner-offset-vertical $top-banner-offset-horizontal;
	height: 100%;
	background-size: cover;

	// модификаторы для подложки начало
	&.--overlayed-dark {
		@include block-overlay();
	}

	&.--overlayed-light {
		@include block-overlay("light");
	}
	// модификаторы для подложки конец

	// модификаторы для фоновой картинки начало

	&.--bg-top-left {
		background-position: top left;
	}
	&.--bg-top-center {
		background-position: top center;
	}
	&.--bg-top-right {
		background-position: top right;
	}
	&.--bg-bottom-left {
		background-position: bottom left;
	}
	&.--bg-bottom-center {
		background-position: bottom center;
	}
	&.--bg-bottom-right {
		background-position: bottom right;
	}
	&.--bg-center-left {
		background-position: left;
	}
	&.--bg-center-right {
		background-position: right;
	}
	&.--bg-center {
		background-position: center;
	}
	// модификаторы для фоновой картинки конец

	// модификаторы для контентной области начало
	&:not(.--fullwidth) {
		.top-banner__wrapper {
			max-width: 1140px;
		}
	}
	&.--text-center {
		text-align: center;
	}

	&.--text-right {
		text-align: right;
	}

	&.--blured-content {
		.top-banner__wrapper {
			@extend %flex-column;
			justify-content: center;
			backdrop-filter: blur(20px);
			padding: clamp(24px, 5vw, 80px);
			border: 2px solid var(--primary-color);
		}
	}

	&.--rounded-content {
		.top-banner__wrapper {
			border-radius: var(--base-border-radius);
		}
	}

	// модификаторы для контентной области конец
	&__wrapper {
		width: 100%;
		height: fit-content;
		margin: auto;
		padding: 20px 0;
		text-wrap: balance;
	}

	&__img {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		height: auto;
		object-fit: contain;
		z-index: 1 !important;
	}
}
